<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
</head>
<body>
<table>
    <tr>
        <th>기준일</th>
        <th>기준시간</th>
        <th>확진자 수</th>
        <th>격리해제 수</th>
        <th>검사진행 수</th>
        <th>사망자 수</th>
        <th>치료중 환자 수</th>
        <th>결과 음성 수</th>
        <th>누적 검사 수</th>
        <th>누적 검사 완료 수</th>
        <th>누적 환진률</th>
    </tr>
    <tr>
        <td><%= STATE_DT%></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
</body>
</html>
